/* src/components/BrightOutlook.css */
.bright-outlook-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #333; /* Dark gray background */
  }
  
  .bright-outlook-title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    color: #eee; /* Light gray text color */
  }
  
  .bright-outlook-boxes {
    display: flex;
    flex-direction: column; /* Display boxes one below the other */
    align-items: center;
    margin: 20px 0;
  }
  
  .bright-outlook-box {
    width: 80%; /* Decrease the box width */
    margin: 10px;
    padding: 20px;
    background-color: #444; /* Slightly darker gray background for boxes */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .box-title {
    font-size: 24px;
    font-weight: bold;
    color: #eee; /* Light gray text color */
  }
  
  .box-description {
    font-size: 16px;
    color: #eee; /* Light gray text color */
  }
  
  .box-link {
    display: block;
    margin-top: 10px;
    padding: 10px 16px; /* Decrease the button width */
    background-color: #666; /* Dark gray button background */
    color: #eee; /* Light gray text color */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: fit-content;
    margin: auto;
  }
  
  .box-link:hover {
    background-color: #555; /* Slightly darker gray on hover */
  }
  
  @media (max-width: 768px) {
    .bright-outlook-box {
      width: 90%; /* Adjust width for smaller screens */
    }
  }
  