.App {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
/* src/App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #333; /* Dark gray background applied to the entire app */
  color: #eee; /* Light gray text color for the entire app */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the entire app horizontally */
  justify-content: center; /* Center the entire app vertically */
  min-height: 100vh;
}

/* Add any other global styles as needed */
